.star-rating, .back-stars, .front-stars {
    display: flex;
}

/*---------- star rating ----------*/
%flex-display {
    display: flex;
}

.back-stars {
@extend % flex-display;
    color: #bb5252;
    position: relative;
    text-shadow: 4px 4px 10px #843a3a;
}

.front-stars {
@extend % flex-display;
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 2px 5px #d29b09;
    top: 0;
}
